
Controles de Ivan/bin/Debug/Controles de Ivan.exe

Formularios de Ivan/.vs/Formularios de Ivan/v16/.suo

Formularios de Ivan/bin/Release/Formularios de Ivan.exe

Formularios de Ivan/bin/Release/Formularios de Ivan.pdb

Formularios de Ivan/obj/Release/Formularios de Ivan_MarkupCompile.cache

Formularios de Ivan/obj/Release/Formularios de Ivan_MarkupCompile.lref

Formularios de Ivan/obj/Release/Formularios de Ivan.csproj.CoreCompileInputs.cache

Formularios de Ivan/obj/Release/Formularios de Ivan.csproj.FileListAbsolute.txt

Formularios de Ivan/obj/Release/Formularios de Ivan.csproj.GenerateResource.cache

Formularios de Ivan/obj/Release/Formularios de Ivan.exe

Formularios de Ivan/obj/Release/Formularios de Ivan.g.resources

Formularios de Ivan/obj/Release/Formularios de Ivan.pdb

Formularios de Ivan/obj/Release/MainWindow.baml

Formularios de Ivan/obj/Release/MainWindow.g.cs

Formularios de Ivan/obj/Release/MainWindow.g.i.cs
